<h2 {% if site.style == 'dark' %}class="text-white" {% endif %}>News</h2>
<div class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}" align="left">
    <ul>
        <li>
            2019: I was a co-author in an AAAI student abstract: "Predicting students attention level with
            interpretable facial and head dynamic features in an online tutoring system".
        </li>
        <li>
            2019: I was a co-author in an AAAI student abstract: <a style="color: greenyellow" href="https://www.researchgate.net/publication/336830259_Modeling_Involuntary_Dynamic_Behaviors_to_Support_Intelligent_Tutoring">
            "Modeling involuntary dynamic behaviors to support
            intelligent tutoring"</a>.
        </li>
        <li>
            2019: I extended my internship in the Auton Lab after RISS.
        </li>
        <li>
            2019: I was a reviewer for Neurips ML4H Workshop.
        </li>
        <li>
            2019: I won the <a style="color:greenyellow" href="https://ubtecheducation.com/">UBTech</a> Humanoid Challenge (Operating a humanoid robot to rescue stuffed animals).
        </li>
        <li>
            2019: I won the <a style="color:greenyellow" href="https://www.dji.com/">DJI</a> Drone Challenge (Autonomous following of Aruco tags).
        </li>
        <li>
            2019: I was in the <a style="color:greenyellow" href="https://riss.ri.cmu.edu/about/">
                Robotics Institute Summer Scholar (RISS) program</a> at CMU!
            I worked with Prof. Artur Dubrawski on deep unsupervised analysis of hemorhage.
            I published an extended abstract in Neurips ML4H Workshop: <a style="color: greenyellow" href="https://arxiv.org/abs/1911.05121">
                "Detecting Patterns of Physiological Response to Hemodynamic Stress via Unsupervised Deep learning"
            </a>
        </li>
        <li>
            2019: I obtained a B.S. in CS and Math/Stats from <a style="color: greenyellow"
                href="https://www.stat.purdue.edu/news/2019/spring2019_graduation.html">
                Purdue University
            </a> with distinction.
        </li>
        <li>2018: I worked on importing some functions of pcalg, an R package for causal inference. Specifically
            pc, fci, ges, lingam. <a style="color: greenyellow" href="https://github.com/andy1445/pcalg">
                github link
            </a>
        </li>
        <li>2018: I worked with Prof. Jacob Furst and Prof. Daniela Raicu on augmenting training
            Lung Nodule detection models with Wasserstein Generative Adversarial Networks.
            My paper was published in SPIE Medical Imaging 2019: <a style="color: greenyellow"
                href="https://www.spiedigitallibrary.org/conference-proceedings-of-spie/10950/109501K/Augmenting-LIDC-dataset-using-3D-generative-adversarial-networks-to-improve/10.1117/12.2513011.short?SSO=1">
                "Augmenting LIDC dataset using 3D generative adversarial networks to improve lung nodule detection"
            </a>

        </li>
        <li>
            2017: I worked with Prof. Clarence Maybee and Purdue Office of Institutional Research in
            analyze long term effects of active learning teaching techniques on future student performance.
            My article was published in Purdue Undergraduate Research Journal:
            <a style="color: greenyellow"
                href="https://docs.lib.purdue.edu/cgi/viewcontent.cgi?article=1342&context=jpur">
                Impact of Active Learning on Future
                Student Performance</a>
        </li>
        <li>2017: I worked with Prof. Vaneet Aggarwal in CLAN Lab in
            <a style="color: greenyellow" href="https://arxiv.org/abs/1809.09293">
                "A Computer Vision Approach For Estimating Force Exertion"</a>
        </li>
    </ul>
</div>